*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
h1{
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    color: black;
    text-align: center;
    text-decoration: underline;
}
.container{
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
}
.gallery img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}